﻿<link rel="stylesheet" href="~/css/homepage.css" />
<link rel="stylesheet" href="~/css/FAQ4.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="jquery.min.js"></script>
<script src="jquery.form.validator.min.js"></script>
<script src="security.js"></script>
<script src="file.js"></script>

@{
    ViewData["Title"] = "Home Page";
}

<script>
    function FirstQuestion() {
        var x = document.getElementById("Q1");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function SecondQuestion() {
        var x = document.getElementById("Q2");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function ThirdQuestion() {
        var x = document.getElementById("Q3");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function FourthQuestion() {
        var x = document.getElementById("Q4");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>

<section class="banner-home font-Prompt  ">
    <div class="detail-banner container">
        <p class=" title-banner-home line-height-1-5">
            นำทางคุณสู่ <br> เส้นทางการเงินของชีวิต
        </p>
        <p class="w-75 text-content-banner opacity-70"> เลือกซื้อบ้านของคุณได้ง่าย มีเปรียบเทียบราคาบ้าน ใช้เครื่องคำนวณที่เป็นประโยชน์เพื่อดูว่าคุณสามารถจ่ายบ้านได้เท่าไร รวมทั้งรับคำแนะนำและข้อมูลอัปเดตทันเวลาจากทีมผู้เชี่ยวชาญด้านสินเชื่อที่อยู่อาศัยของเรา</p>
        <a asp-controller="Loan" asp-action="Loan1p" type="button" class="btn button-home text-24" style="outline:none;">คำนวณสินเชื่อ</a>
    </div>


</section>

<section class="container  font-Prompt section2">
    <p class="text-center title-section2">ใช้บริการ Loan Analyze ดียังไง?</p>
    <div class=" container-icons">
        <div class="text-center mx-4 con-icon">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#7293A6"><g><rect fill="none" height="24" width="24" /></g><g><g><path d="M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3z M19,19H5V5h14V19z" /><rect height="1.5" width="5" x="6.25" y="7.72" /><rect height="1.5" width="5" x="13" y="15.75" /><rect height="1.5" width="5" x="13" y="13.25" /><polygon points="8,18 9.5,18 9.5,16 11.5,16 11.5,14.5 9.5,14.5 9.5,12.5 8,12.5 8,14.5 6,14.5 6,16 8,16" /><polygon points="14.09,10.95 15.5,9.54 16.91,10.95 17.97,9.89 16.56,8.47 17.97,7.06 16.91,6 15.5,7.41 14.09,6 13.03,7.06 14.44,8.47 13.03,9.89" /></g></g></svg>
            <p class="text-icon-home pt-3 ">คิดคำนวณเร็ว</p>
        </div>
        <div class="text-center mx-4 con-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#7293A6"><path d="M0 0h24v24H0z" fill="none" /><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" /><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" /></svg>
            <p class="text-icon-home pt-3">ประหยัดเวลา </p>
        </div>
        <div class="text-center mx-4 con-icon">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#7293A6"><rect fill="none" height="24" width="24" /><path d="M8,4l-6,6v10h12V10L8,4z M12,18H9v-3H7v3H4v-7.17l4-4l4,4V18z M9,13H7v-2h2V13z M18,20V8.35L13.65,4h-2.83L16,9.18V20H18z M22,20V6.69L19.31,4h-2.83L20,7.52V20H22z" /></svg>
            <p class="text-icon-home pt-3">มีเปรียบเทียบ <br /> ราคาบ้าน </p>
        </div>
        <div class="text-center mx-4 con-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#7293A6"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12.5 6.9c1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-.39.08-.75.21-1.1.36l1.51 1.51c.32-.08.69-.13 1.09-.13zM5.47 3.92L4.06 5.33 7.5 8.77c0 2.08 1.56 3.22 3.91 3.91l3.51 3.51c-.34.49-1.05.91-2.42.91-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c.96-.18 1.83-.55 2.46-1.12l2.22 2.22 1.41-1.41L5.47 3.92z" /></svg>
            <p class="text-icon-home pt-3 ">
                ใช้บริการฟรี <br />
                ไม่มีค่าใช้จ่ายแอบแฝง
            </p>
        </div>
    </div>



</section>

<section class=" section3 pt-5 font-Prompt ">

    <div class="container pb-5">
        <p class="text-center title-section3">ขั้นตอนใช้บริการคำนวณสินเชื่อใน 3 ขั้นตอนง่ายๆ</p>
        <div class="content-sec3">

            <div class="con-step">
                    <img class="stepImg" src="/image/step.png" />
            </div>

            <img class= "motionImg" src="/image/motion_1.gif" />
        </div>
    </div>


</section>

<section class=" section4 pt-5 font-Prompt container ">
    <p class="text-center title-section3">สถิติ</p>
    <div class="content-sec4">
        <button class="font-Prompt">ช่วยจัดการหนี้กว่า <br /><span>17,976</span><br />ครอบครัว</button>
        <button class="font-Prompt">วงเงินที่ใช้บริการ <br /><span>125,000</span><br />ล้านบาท</button>
        <button class="font-Prompt">เป็นพันธมิตรกับ <br /><span>3</span><br />ธนาคาร</button>
    </div>
</section>

<section class=" section5 pt-5 font-Prompt">
    <div class="pb-5">
        <div class="jumbotron-fluid text-center body-container">
            <div class="row" style="margin-bottom:70px;">
                <div class="col-sm-1 block-1"></div>

                <!--faq-->
                <div class="col-sm-10">
                    <br />
                    <p class="title-FAQ">คำถามที่พบบ่อย (FAQ)</p>

                    <div class="row question-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 question-text" onclick="FirstQuestion()">
                            <p>
                                1. เมื่อกดกู้เงินผ่านเว็บไซต์สำเร็จแล้วต้องดำเนินการอะไรอีกหรือไม่
                                <img src="~/icons/down-arrow.png" class=" mx-auto d-block img-style">
                            </p>


                        </div>

                        <div class="col-sm-1 "> </div>
                    </div>


                    <div class="row answer-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 answer-text" id="Q1">
                            <p>
                                เมื่อดำเนินการเสร็จแล้วจะมีรายละเอียดการกู้ยืมเงินส่งไปที่อีเมล์ของคุณ โดยคุณสามารถติดตามรายละเอียดเพิ่มเติมและดำเนินการต่อกับทางธนาคารได้ตามรายละเอียดต่างๆที่ส่งไปให้ทางอีเมล์

                            </p>
                        </div>

                        <div class="col-sm-1 img-style "> </div>
                    </div>



                    <div class="row question-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 question-text" onclick="SecondQuestion()">
                            <p>
                                2. ในกรณีที่กู้ยืมเงินผ่านเว็บไซต์ไปแล้วแต่ต้องการจะยกเลิก ต้องทำอย่างไร
                                <img src="~/icons/down-arrow.png" class=" mx-auto d-block img-style">
                            </p>
                        </div>

                        <div class="col-sm-1 img-style "> </div>
                    </div>


                    <div class="row answer-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 answer-text" id="Q2">
                            <p>
                                ในกรณีที่ต้องการแก้ไขข้อมูลหรือยกเลิกการกู้ยืมเงินกับทางเว็บไซต์นั้นไม่สามารถทำได้ แต่คุณสามารถติดต่อกับเรามาโดยตรง หรือติดต่อทางธนาคารเพื่อแจ้งรายละเอียดเกี่ยวกับการต้องการขอยกเลิกการกู้ยืมเงิน โดยการยกเลิกการกู้ยืมนั้นอาจเป็นไปได้ยาก ขึ้นอยู่กับเหตุผลที่ใช้ประกอบกับการพิจารณา

                            </p>
                        </div>

                        <div class="col-sm-1 img-style "> </div>
                    </div>





                    <div class="row question-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 question-text" onclick="ThirdQuestion()">
                            <p>
                                3. ถ้าเกิดปัญหาระหว่างการดำเนินการกู้ยืมผ่านเว็บไซต์ ต้องทำอย่างไร
                                <img src="~/icons/down-arrow.png" class=" mx-auto d-block img-style">
                            </p>
                        </div>
                        <div class="col-sm-1 "></div>
                    </div>



                    <div class="row answer-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 answer-text" id="Q3">
                            <p>
                                ในกรณีที่คุณส่งข้อมูลดำเนินการมาให้เราเรียบร้อยแล้ว แต่ไม่มีจดหมายตอบกลับหรือธนาคารไม่รับทราบถึงการกู้ยืมเงิน โปรดติดต่อเรามาโดยตรงเพื่อที่เราจะสามารถแก้ไขปัญหาและดำเนินการกู้ยืมเงินต่อไปได้

                            </p>
                        </div>

                        <div class="col-sm-1 img-style "> </div>
                    </div>



                    <div class="row question-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 question-text" onclick="FourthQuestion()">
                            <p>
                                4. เว็บไซต์มีการคิดค่าบริการย้อนหลังหรือไม่ และความปลอดภัยของการเก็บข้อมูลเป็นอย่างไร
                                <img src="~/icons/down-arrow.png" class=" mx-auto d-block img-style">
                            </p>
                        </div>

                        <div class="col-sm-1 "></div>
                    </div>




                    <div class="row answer-block">
                        <div class="col-sm-1 "> </div>

                        <div class="col-sm-10 answer-text" id="Q4">
                            <p>
                                เว็บไซต์ของเราไม่มีการคิดค่าบริการย้อนหลัง ในส่วนของข้อมูลต่าง ๆ ที่เก็บไว้นั้นมีการรักษาความปลอดภัยเป็นอย่างดี เพื่อไม่ให้ข้อมูลรั่วไหลไปได้

                            </p>
                        </div>

                        <div class="col-sm-1 img-style "> </div>
                    </div>

                </div>



                <div class="col-sm-1 block-2"></div>

            </div>

        </div>
    </div>
</section>