@{
    ViewData["Title"] = "Complete";
}

<!--jumbotronใช้ในการทำให้หน้าจอเป็นreponsive-->
<link rel="stylesheet" href="~/css/complete.css" />
<body>
    <section class="nav-block"></section>
    <div class="jumbotron-fluid text-center content">


        <div class="row">
            <div class="col-sm-1 "> </div>
            <div class="col-sm-1 side-block"> </div>
            <div class="col-sm-8 summary-block">
                <img src="~/icons/verified.svg" class=" mx-auto d-block img-style">
                เสร็จสิ้น
                <p>
                    โปรดรอการตอบกลับจากเจ้าหน้าที่ธนาคารภายใน 2-3 วัน
                    <br />หากไม่ได้รับการติดต่อกลับจากเจ้าหน้าที่ โปรดติดต่อ 02-000-0000
                </p>
                <div class="button-block">
                    <a asp-action="Loan1p" class="btn-con">ยืนยัน </a>
                </div>

            </div>
            <div class="col-sm-1 side-block"> </div>
            <div class="col-sm-1 "> </div>
        </div>

    </div>







</body>
