﻿@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

body {
    overflow: scroll;
    font-family: 'Prompt';
}



.content {
    margin-left: 20px;
    margin-right: 20px;
}

.block-1 {
    background-color: #ffffff;
}


.block-2 {
    background-color: white;
}

.container-style {
    height: auto;
    background-color: #ffffff;
}



.head-block {
    margin-top: 30px;
}

.result-head {
    height: auto;
    background-color: #F2F2F2;
    border-bottom-style: solid;
    border-width: 1.75px;
    border-color: rgba(114,147,166,0.7);
}

    .result-head p {
        color: #293740;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 30px;
    }


.detail-head {
    background-color: #F2F2F2;
}

    .detail-head p {
        color: #293740;
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 20px;
        padding: 20px;
    }


/*ข้อมูลส่วนตัว*/


.side-block {
    background-color: #F2F2F2;
}


.detail-subhead {
    background-color: #F2F2F2;
    padding: 10px;
    text-align: left;
    overflow: auto;
}


    .detail-subhead p {
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        text-indent: 2px;
        line-height: 25px;
        padding-left: 10px;
    }


.detail-text {
    background-color: #F2F2F2;
    padding-top: 10px;
    text-align: left;
    overflow: auto;
}


    .detail-text p {
        font-weight: 100;
        font-size: 16px;
        text-align: left;
        padding-left: 2px;
        color: #293740;
        line-height: 25px;
    }


/*line*/


.line {
    background-color: #F2F2F2;
    border-bottom-style: solid;
    border-width: 1.75px;
    border-color: rgba(114,147,166,0.7);
    padding: 10px;
}
/*
.button-block {
    background-color: #F2F2F2;
    padding-top : 20px;
    padding-bottom : 20px;
    height : 100px;
    
}
    */

.button-block {
    background-color: #F2F2F2;
    padding-top: 35px;
    padding-bottom: 35px;
}

    .button-block a {
        padding: 5px 25px 5px 25px;
        text-decoration: none;
        font-size: 18px;
        background-color: #293740;
        border-radius: 20px;
        color: white;
    }

    .button-block a {
        background-color: #182025;
        transition-duration: 0.2s;
    }




@media screen and (max-width: 767px) and (min-width:576px) {
    body {
        height: 1250px;
    }

    .content {
        display: block;
        margin: auto;
        width: 700px;
        position: relative;
        right: 95px;
    }
}


@media screen and (max-width: 575px) and (min-width:259px) {
    body {
        height: 1650px;
    }

    .detail-head {
        padding-left: 20px;
    }
}
